body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color:rgb(197, 255, 255);

}

form {
    margin: 20px 0;
}

input[type="file"], input[type="submit"] {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}
.button{
    
}
.button-hover{
    background-color: blueviolet;
}